@keyframes loader-progress {
    0% {
      width: 0px;
    }
    100% {
      width: 100%;
    }
}

@keyframes loader-decrease {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes opac{
    0% {
        opacity: 1;
      }
    50%{
        opacity: 0;
    }
      100% {
        opacity: 0;
      }
}

@keyframes changing-position-entering {
  0% {
    right: -120%;
  }
  100% {
    right: 0;
  }
}

@keyframes changing-position-leaving {
  0% {
    right: 0;
  }
  100% {
    right: -120%;
  }
}

@keyframes changing-background-position-right-to-left {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 100px;
  }
}

@keyframes changing-background-position-right-to-left-img {
  0% {
    background-position-x: -8rem;
  }
  100% {
    background-position-x: -1rem;
  }
}


@keyframes changing-background-position-left-to-right {
  0% {
    background-position-x: 100px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes changing-background-position-left-to-right-img {
  0% {
    background-position-x: -1rem;
  }
  100% {
    background-position-x: -8rem;
  }
}

@keyframes changing-background-position-left-to-right-img-xl {
  0% {
    background-position-x: -5rem;
  }
  100% {
    background-position-x: -13rem;
  }
}

@keyframes changing-background-position-right-to-left-img-xl {
  0% {
    background-position-x: -13rem;
  }
  100% {
    background-position-x: -5rem;
  }
}

@keyframes changing-background-position-left-to-right-pattern-mobile {
  0% {
    background-position-x: 0vw;
  }
  100% {
    background-position-x: -130vw;
  }
}

@keyframes changing-background-position-right-to-left-pattern-mobile {
  0% {
    background-position-x: -130vw;
  }
  100% {
    background-position-x: -0vw;
  }
}

