$black: #141414;
$white: #E7E7E7;
$gray: #6C6C6C;

$font: 'Roboto';

$font-size:(
    'size-large':5rem,
    'size-h1':2.5rem,
    'size-h2':2rem,
    'size-h3':1.75rem,
    'size-body':1.25rem,
    'size-small':1rem,
);

@function size($size-name){
   @return map-get($font-size , $size-name)
}