@import './reset';
@import './responsive';
@import './variables';
@import './animations';

:root{
    --line-width : 33%;

    --var1: "";
    --var2: "";
    --var3: "";
    --var4: "";
}

h1{
    text-decoration: none;
    color: #d5d6d7;
    font-weight: 900;
    font-size: 5rem;

    @include md{
        font-size: 3.5rem;
    }
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{

    height: auto;
    background-color: $white;
}

.wrapper{
    width: 1300px;
    margin: 0 auto;

    @include xxl{
        width: 1100px;
    }

    @include xl{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

//----------- LOADER ----------------
//-----------------------------------

.pre-loader{
    overflow-y: hidden;
}

#loader{
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: $white;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #loader-svg{
        width: 22rem;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include sm{
            width: 17rem;
        }
    
        img{
            margin-bottom: 20px;
            width: 17rem;

            @include sm{
                width: 12rem;
            }
        }

        #loader-progress{
            position:absolute;
            left: 0;
            bottom: 0;
            height: 6px;
            width: 100%;
            background-color: $black;
            border-radius: 3px;
            animation: loader-progress 1.5s;
        }
    }
}

.loader-opac{
    animation: opac 2s ease;
}

//----------- LOADER END ----------------
//---------------------------------------


//----------- NAVIGATION ----------------
//---------------------------------------

header{
    background-color: $black;
    position: sticky;
    top: 0;
    height: 2.5rem;
    z-index: 15;

    nav{
        height: 100%;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . nav-ul";

        #nav-logo{

            height: 2rem;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: 1fr;
            grid-area: logo;
            column-gap: 0;
            transition: column-gap 0.2s;

            &:hover{
                column-gap: 6px;
            }

            p{
                align-self: center;
                color: $white;
                font-size: size(size-h3);
                font-weight: 700;
            }

            img{
                height: 100%;
            }

        }

        button{
            display: none !important;
            color: $white;
            grid-area: nav-ul;
            background-color: transparent;
            border: none;

            i{
                font-size: size(size-body);
            }
    
            @include md{
                display: inline-block !important;
            }
            
        }


        ul{
            grid-area: nav-ul;
            display: grid;
            grid-auto-flow: column;
            gap: 15px;

            @include md{
                display: none;
            }

            div{
                display: none;
                position: absolute;
                z-index: 2;
            }

            li{
                position: relative;
                display: grid;

            }
            
            a{
                padding: 4px 5px;
                position: relative;
                z-index: 3;
                align-self: center;
                color: $white;
                font-size: size(size-body);

                &:hover{
                    color: white;
                }

                &:focus{
                    color: white;
                }
            }
        }

    }
}

.nav-entering{
    right: 0;
    animation: changing-position-entering 0.5s;
    
}

.nav-leaving{
    right: -120%;
    animation: changing-position-leaving 0.5s;
}



.phone-nav{
    display: none;
    position: fixed;
    z-index: 16;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $black;

    button{
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: transparent;
        border: none;

        i{
            color: $white;
            font-size: size(size-h2);
        }
    }

}

.display-phone-nav{
    @include md{
        display: grid;
        width: 100%;

        align-items: center;
        justify-items: center;

    }
}

#phone-nav-js{
    li{

        margin-bottom: 0.7rem;
    }

    a{
        display: block;
        color: $white;
        font-size: size(size-h3);
        padding: 0.2rem 0.4rem;
        text-align: center;
    }

    div{
        display: none;
    }
}

.progress-left-to-right{
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    animation: loader-progress 0.5s;
    height: 4px;
    background-color: white;

}

.progress-right-to-left{
    display: block;
    right: 0;
    bottom: 0;
    width: 0;
    animation: loader-decrease 0.5s;
    height: 4px;
    background-color: white;

}

.active-link{
    display: block;

    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: white;
}

.changing-nav-position-show{
    animation: changing-nav-position-show 0.5s;
    animation-fill-mode: forwards;
    position: fixed !important;
}

.changing-nav-position-hide{
    animation: changing-nav-position-hide 0.5s;
    animation-fill-mode: forwards;
}

.main-li{
    display: grid;
    grid-auto-flow: column;
    margin-left: 15px;
    background-color: $gray;
    color: $black;
    padding: 3px;

    li{
        padding: 3px;
        font-weight: 500;

        @include md{
            font-size: 0.7rem !important;
        }
    }

    :nth-child(2){
        display: none;
        color: #444444;
        overflow: hidden;
        white-space: nowrap;
    }
}

.active-second-nav{



    :nth-child(1){
        background-color: white;
        color: black;
    }

    a{
        color: black !important;
    }

}

#second-nav{
    background-color: $black;
    position: absolute;
    top: 0rem;
    height: 2.5rem;
    width: 100%;
    z-index: 14;

    color: $white;

    div{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        grid-template-areas: ". menuS";
        overflow-x: scroll;
    }

    div::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }

    ul{
        justify-self: center;
        align-self: center;
        grid-area: menuS;
        display: grid;
        grid-auto-flow: column;
        width: max-content;
    }

    li{
        border-radius: 3px;
        a{
            color: $black;
        }
    }
}

//----------- NAVIGATION END ----------------
//-------------------------------------------


//----------- HERO ----------------
//---------------------------------

#hero{
    height: 40rem;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 0.6fr;
    grid-template-rows: 1fr;
    justify-content: center;

    @include md{
        justify-content: start;
        grid-template-columns: 0.4fr;
    }

    @include sm{
        height: 60rem;
        grid-template-columns: 1fr;
    }

    &::before{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        content: "";
        background: url(../images/hero/compass.svg);
        background-position: 100px -100px;
        background-size: 50%;
        background-repeat: no-repeat;
        opacity: 0.1;
        z-index: -1;

        @include sm{
            background: none;
        }
    }

    .pic-container{
        position: absolute;
        width: 50%;
        padding-bottom: 33%;
        z-index: 10;

        @include md{
            width: 10rem;
            height: 30rem;
            padding-bottom: 0;
            border-radius: 3px;
        }

        @include sm{
            width: 13.5rem;
        }

        @include xsm{
            width: 10rem;
        }
    }

    #pic-container-1{
        bottom: 0;
        left: 0;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: url(../images/hero/hiking1.jpg) bottom center;
        background-size: cover;
        background-repeat: no-repeat;

        @include md{
            clip-path: none;
            left: auto;
            right: 11rem;
            bottom:2rem;
            background: url(../images/hero/hiking-mobile.jpg);
        }

        @include sm{
            left: 0;
            bottom: 0;
            right: auto;
            background: url(../images/hero/hiking-mobile2.jpg);
        }

        @include xsm{
            background: url(../images/hero/hiking-mobile.jpg);
        }
    }

    #pic-container-2{
        top: 0;
        right: 0;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        clip-path: polygon(50% 100%, 0 0, 100% 0);

        background: url(../images/hero/kayaking.jpg) top center;
        background-size: cover;
        background-repeat: no-repeat;

        @include md{
            clip-path: none;
            top:2rem;
            background: url(../images/hero/kayaking-mobile.jpg);
        }

        @include sm{
            top: 0;
            background: url(../images/hero/kayaking-mobile2.jpg);
        }

        @include xsm{
            background: url(../images/hero/kayaking-mobile.jpg);
        }
    }

    #hero-middle{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;


        
        #pic-circle-container{
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: auto;

            #img-circle{
                display: grid;
                justify-content: center;
                align-items: center;
                position: relative;

                @include sm{
                    &::before{
                        position: absolute;
                        top: -16px;
                        bottom: -16px;
                        left: -16px;
                        right: -16px;
                        content: "";
                        background-color: $white;
                        z-index: 12;
                        border-radius: 50%;
                    }
                }

                img{
                    position: relative;
                    z-index: 13;
                    height: 200px;
                    border-radius: 50%;
                    outline: 3px solid black;
                }
            }
        }

        #quote-container{
            display: grid;
            grid-template-columns: 0.5fr;
            grid-template-rows: 1fr;
            justify-content: end;

            @include md{
                grid-template-columns: 1fr;
            }

            @include sm{
                grid-template-columns: 0.5fr;
            }

            #quote{
                display: grid;
                justify-content: center;
                align-items: center;

                i{
                    font-size: size(size-body);
                    text-align: center;
                    align-self: end;
                }

                #author-name{
                    text-align: end;
                    align-self: start;
                    font-size: size(size-h3);
                    font-weight: bold;

                    @include md{
                        text-align: center;
                    }
                }

                p{
                    font-size: size(size-body);
                    font-style: italic;
                    text-align: center;
                }
            }
        }

        #logo-container{
            display: grid;
            grid-template-columns: 0.5fr;
            grid-template-rows: 1fr;
            
            @include md{
                grid-template-columns: 1fr;
            }

            @include sm{
                grid-template-columns: 0.5fr;
            }

            #logo-part{
                display: grid;
                grid-template-columns: 0.5fr;

                justify-content: center;
                align-items: center;


                @include sm{
                    grid-template-columns: 1fr;
                    
                }

                p{
                    font-size: size(size-h1);
                    font-weight: 800;

                    @include md{
                        text-align: center;
                    }
                }

                #uppper{
                    align-self: end;
                }

                #lower{
                    justify-self: end;
                    align-self: start;

                    @include md{
                        justify-self: center;
                    }
                }

                img{
                    height: 76px;
                    justify-self: center;
                }
            }
        }
    }
}

//----------- HERO END ----------------
//-------------------------------------


//----------- ABOUT ----------------
//----------------------------------

.anim-changing-background-position-right-to-left{
    animation: changing-background-position-right-to-left 0.5s linear;
    animation-fill-mode: forwards;
}

.anim-changing-background-position-right-to-left-img{
    animation: changing-background-position-right-to-left-img 0.5s linear;
    animation-fill-mode: forwards;
}

.anim-changing-background-position-left-to-right{
    animation: changing-background-position-left-to-right 0.5s linear;
    animation-fill-mode: forwards;
}

.anim-changing-background-position-left-to-right-img{
    animation: changing-background-position-left-to-right-img 0.5s linear;
    animation-fill-mode: forwards;
}

.anim-changing-background-position-right-to-left-img-xl{
    animation: changing-background-position-right-to-left-img-xl 0.5s linear;
    animation-fill-mode: forwards;
}

.anim-changing-background-position-left-to-right-img-xl{
    animation: changing-background-position-left-to-right-img-xl 0.5s linear;
    animation-fill-mode: forwards;
}

.anim-changing-background-position-right-to-left-pattern-mobile{
    animation: changing-background-position-right-to-left-pattern-mobile 0.6s linear;
    animation-fill-mode: forwards;
}

.anim-changing-background-position-left-to-right-pattern-mobile{
    animation: changing-background-position-left-to-right-pattern-mobile 0.6s linear;
    animation-fill-mode: forwards;
}

#about{
    position: relative;
    padding-top: 10rem;
    padding-bottom: 5rem;
    overflow: hidden;

    @include xl{
        padding-left: 0;
        padding-right: 0;
    }

    #about-container{
        width: 100%;
        height: 30rem;
        background-color: $gray;
        position: relative;
        clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto 0.3fr 0.15fr 0.3fr auto;
        justify-content: center;
        grid-template-areas: " . motivation . about .";


        @include xl{
            clip-path: none;
        }

        @include lg{
            grid-template-columns: 10px 20rem 20rem 10px;
            grid-template-areas: ".  motivation  about .";
            justify-content: space-between;
        }

        @include md{
            width: 200vw;
            grid-template-columns: 100vw 100vw;
            grid-template-areas: "  motivation  about ";
        }

        #backgrount-pattern{
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: url(../images/hero/mountain-pattern.png);
            background-position-y: bottom;
            background-repeat: repeat-x;
            background-size: 70%;
            opacity: 0.5;

            @include md{
                background-position-x: 0vw;
            }
        }


        #text-container-1{
            grid-area: motivation;
            position: relative;
            z-index: 3;
            display: grid;
            grid-template-rows: 2rem auto 2rem auto 1fr;
            color: $black;
            grid-template-columns: 1fr;
            grid-template-areas:    "."
                                    "mot-text" 
                                    "." 
                                    "about-next"
                                    ".";

            #text-1{
                grid-area: mot-text;
                text-align: center;

                font-size: size(size-h3);

                .mot-large{
                    font-weight: 800;
                    font-size: size(size-large);
                }
            }

            button{
                position: relative;
                background-color: $black;
                color: $white;
                z-index: 4;
                font-size: size(size-h3);
                font-weight: 600;
                width: fit-content;
                justify-self: center;
                grid-area: about-next;
                padding: 0.2rem 0.5rem;
                border: none;
                border-radius: 3px;

                &:hover{
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }

                i{
                    margin-left: 1rem;
                }
            }
        }

        #text-container-2{
            grid-area: about;
            display: grid;
            position: relative;
            z-index: 3;
            grid-template-rows: 2rem auto 2rem auto 1fr;
            color: $black;
            font-size: size(size-body);
            grid-template-columns: 1fr;
            grid-template-areas:    "."
                                    "about-text" 
                                    "." 
                                    "about-link"
                                    ".";

            @include md{
                padding: 0 100px;
            }

            #text-2{
                grid-area: about-text;

                h2{
                    text-align: center;
                    font-size: size(size-h2);
                    margin-bottom: 1rem;
                }

                p{
                    text-align: justify;
                    margin-bottom: 0.6rem;
                }
            }

            #btn-group{
                grid-area: about-link;
                position: relative;
                z-index: 4;
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-template-rows: 1fr;
                font-size: size(size-h3);
                grid-template-areas: "btn . link";

                button{
                    grid-area: btn;
                    font-size: size(size-h3);
                    color: $white;

                    background-color: $black;
                    border-radius: 3px;
                    padding: 0.2rem 0.5rem;
                    border: none;
                    font-weight: 600;

                    &:hover{
                        background-color: black;
                        color: white;
                        cursor: pointer;
                    }

                    i{
                        margin-right: 1rem;
                    }
 
                }

                a{
                    grid-area: link;
                    background-color: $black;
                    border-radius: 3px;
                    padding: 0.2rem 0.5rem;
                    border: none;
                    color: $white;
                    font-weight: 600;

                    i{
                        margin-left: 1rem;
                    }

                    &:hover{
                        background-color: black;
                        color: white;

                    }

                }
            }
        }
    }

    #mbiking-img-container{
        z-index: 5;
        position: absolute;
        height: 36rem;
        width: 40rem;
        top: 7rem;
        right: 2rem;
        clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
        background: url(../images/hero/biker.png);
        background-size: cover;
        background-position: -8rem;

        @include xxl{
            right: 1rem;
            top: 8rem;
            height: 34rem;
            clip-path: polygon(0 0, 81% 0, 100% 100%, 19% 100%);
        }

        @include xl{
            clip-path: none;
            right: 10px;
            height: 34rem;
            width: 30rem;
            background-position: -13rem;
        }

        @include lg-940{
            width: 22rem;
        }

        @include md{
            display: none;
        }
    }

}

//----------- ABOUT END ----------------
//--------------------------------------


//----------- ACTIVITIES ----------------
//---------------------------------------

#activities{
    margin-top: 5rem;
    height: 40rem;
    background-color: $black;
    position: relative;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 23rem 1fr;
    grid-template-areas: "activities-text activities-background";
    color: $white;
    padding-right: 0;
    padding-left: 0;

    @include md{
        height: 40rem;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "activities-heading""activities-text" ;
        background-size: cover;
        background-position: center;

        z-index: 1;

        &::after{
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.65);
        }
    }

    #activities-text{
        grid-area: activities-text;
        display: grid;
        grid-template-rows: 5rem auto 1fr 5rem;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas: "logo" "text-container-3" "." "button-container";
        padding: 5px 10px;

        @include md{
            position: relative;
            z-index:4;
        }

        img{
            grid-area: logo;
            height: 100%;
            justify-self: center;
        }

        #text-container-3{
            grid-area: text-container-3;
            padding-top: 20px;
            text-align: justify;
            font-size: size(size-body);
        }

        #button-container{
            grid-area: button-container;
            padding: 0 15px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 3rem 1fr 3rem;

            #line{
                height: 2px;
                width: 100%;
                background-color: white;
                align-self: center;
                position: relative;

                &::before{
                    position: absolute;
                    content: "";
                    width: var(--line-width);
                    height: 6px;
                    background-color: white;
                    top: -2px;
                    left: 0;

                }
            }

            button{
                background: none;
                color: $white;
                border: none;

                &:hover{
                    color: white;
                    cursor: pointer;
                }
            }

            i{
                font-size: size(size-h3);
            }
        }
    }

    #activities-background{
        display: grid;
        grid-area: activities-background;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        position: relative;

        @include md{
            display: none;
        }

        background-size: cover;
        background-position: center;

        &::after{
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgb(0,0,0);
            background: linear-gradient(82deg, rgba(0,0,0,0.5494572829131652) 12%, rgba(255,255,255,0) 51%);
        }
    }

    #activities-heading{
        position: absolute;
        bottom: 5rem;
        left: 12rem;

        @include md{
            z-index: 3;
            text-align: center;
            bottom: unset;
            left: unset;
            position: relative;
            grid-area:activities-heading ;
        }

        h1{
            color: white;

            @include xsm{
                font-size: size(size-h2);
            }
        }
    }
}

//----------- ACTIVITIES END ----------------
//-------------------------------------------


//----------- EVENTS ------------------------
//-------------------------------------------

#events{
    height: auto;
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-columns: 1fr;
    margin-top: 5rem;
    grid-template-areas:    "page"
                            "tableContent";

    background-color: $gray;

    @include xxl{
        grid-template-rows: 6rem 1fr 3rem;
        grid-template-areas:    "page"
                                "tableContent"
                                "toggleButton";
    }

    button{
        grid-area: toggleButton;
        height: 2.5rem;
        width: 10rem;
        display: none;
        font-size: size(size-h3);
        font-weight: 600;
        text-align: center;
        align-self: center;
        justify-self: center;
        border-radius: 3px;
        background-color: $black;
        color: $white;
        border: none;

        &:hover{
            color: white;
            background-color: black;
        }

        @include xxl{
            display: block;
        }
    }

    ul {
        grid-area: page;
        list-style: none;
        padding: 0 ;
        display: flex;
        
        @include xxl{
            justify-content: center;
        }

    }
      
    li {
        border-radius: 3px;
        color:  $white;
        background: black;
        cursor: pointer;
        display: inline-block;
        font-weight: 200;
        margin: 10px 5px 0px 2px;
        text-align: center;


        width: 4rem;
        height: 4rem;

        :nth-child(2){
            display: none;
        }

    }
      
    .active {
        background: white;  

        :nth-child(1){
            display: none;
        }

        :nth-child(2){
            display: block;
        }
    }

    table{
        grid-area: tableContent;
        border-collapse: separate;
    }

    @include xxl{
        .firstRow td:nth-child(3),.firstRow td:nth-child(4) {
            display: none;
        }

        .secondRow td:nth-child(1),.secondRow td:nth-child(2) {
            display: none;
        }

    }

    @include md{
        .firstRow td:nth-child(2),.firstRow td:nth-child(3),.firstRow td:nth-child(4) {
            display: none;
        }

        .secondRow td:nth-child(1),.secondRow td:nth-child(3),.secondRow td:nth-child(4) {
            display: none;
        }
        .secondRow td:nth-child(2){
            display: grid;
        }

        .mobileRow:nth-of-type(3) td:nth-child(1), .mobileRow:nth-of-type(3) td:nth-child(2){
            display: none;
        }

        .mobileRow:nth-of-type(3) td:nth-child(4){
            display: none;
        }
        .mobileRow:nth-of-type(4) td:nth-child(1), .mobileRow:nth-of-type(4) td:nth-child(2){
            display: none;
        }

        .mobileRow:nth-of-type(4) td:nth-child(3){
            display: none;
        }

        .mobileRow:nth-of-type(7) td:nth-child(1), .mobileRow:nth-of-type(7) td:nth-child(2){
            display: none;
        }

        .mobileRow:nth-of-type(7) td:nth-child(4){
            display: none;
        }
        .mobileRow:nth-of-type(8) td:nth-child(1), .mobileRow:nth-of-type(8) td:nth-child(2){
            display: none;
        }

        .mobileRow:nth-of-type(8) td:nth-child(3){
            display: none;
        }

        .mobileRow:nth-of-type(12) td:nth-child(1), .mobileRow:nth-of-type(12) td:nth-child(2){
            display: none;
        }

        .mobileRow:nth-of-type(12) td:nth-child(4){
            display: none;
        }
        .mobileRow:nth-of-type(11) td:nth-child(1), .mobileRow:nth-of-type(11) td:nth-child(2){
            display: none;
        }

        .mobileRow:nth-of-type(11) td:nth-child(3){
            display: none;
        }
    }

    tbody{
        width: auto;

    }

    tr{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;
        margin-bottom: 2rem;

        @include xxl{
            grid-template-columns: auto auto;
            justify-content: space-evenly;
        }

        @include md{
            justify-content: center;
        }
    }

    td{
        background-color: rgb(63, 19, 19);
        height: auto;
        width: 300px;
        color: $black;
        background-color: white;

        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:    "eventImg"
                                "eventTag"
                                "eventHeading"
                                "eventDate"
                                "eventText"
                                "eventButton";

        border-radius: 3px;

        @include xsm{
            width: 270px;
        }

        img{
            width: 100%;
            border-radius: 3px;
            margin-bottom: 15px;
            grid-area: eventImg;
        }

        .dateDivTag{
            grid-area: eventDate;
            margin-bottom: 15px;

            display: grid;
            grid-auto-flow: column;
            grid-template-columns: auto auto auto 1fr;

            p{
                display: inline;
            }

            :nth-child(2){
                margin: 0 20px;
            }
        }

        .eventTagP{
            grid-area: eventTag;
            margin-bottom: 15px;

            p{
                display: inline;
                padding: 2px 5px;
                background-color: $gray;
                color: #3b3b3b;
                border-radius: 3px;
                font-size: size(size-small);
                font-weight:500;
            }

        }

        .eventTextP{
            grid-area: eventText; 
            margin-bottom: 25px;
        }

        h1{
            grid-area: eventHeading;
            font-size: 1.5rem;
            color: $black;
        }

        a{
            justify-self: auto;
            display: flex;
            grid-area: eventButton;
            width: 4.5rem;
            height: 2rem;
            font-size: 1.3rem;

            justify-content: center;
            align-items: center;

            background-color: $black;
            color: $white;

            border-radius: 3px;

            &:hover{
                color: white;
                background-color: black;
            }

            @include md{
                justify-self: center;
            }
        }
    }
}

//----------- EVENTS END --------------------
//-------------------------------------------


//----------- FORM --------------------------
//-------------------------------------------

#participation-form{
    height: auto;
    margin-top: 5rem;
    background-color: $gray;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 35rem 30rem;
    grid-template-areas: "form-part text-part";
    justify-content: space-between;

    @include xl{
        grid-template-columns: 35rem 1fr;
    }

    @include lg{
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:    "form-part"
                                "text-part";
        padding-bottom: 5px;
        gap: 2rem;
        
    }

    @include md{
        h3{
            text-align: center;
        }
    }

    #after-form{
        grid-area: text-part;
        padding:5px;

        hr{
            height: 3px;
            background-color: #b3b3b3;
            margin-bottom: 2rem;
        }

        h3{
            font-size: size(size-h3);
            margin-bottom: 0.5rem;
        }

        p{
            text-align: justify;
            margin-bottom: 1rem;
        }

        ul{
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: auto;
            grid-template-columns: max-content max-content max-content;
            //justify-content: space-between;
            gap: 2rem;

            @include md{
                justify-content: center;
            }

            @include xsm{
                grid-auto-flow: row;
                grid-template-rows: auto auto auto;
                grid-template-columns: 1fr;
                //grid-template-columns: min-content;
                li{
                    justify-self: center;
                }
            }

            a{
                padding: 5px 10px;
                background-color: $white;
                color: $black;
                border-radius: 3px;
                font-weight: 500;

                i{
                    margin-left: 5px;
                }

                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    .error-message{
        color:red;
    }

    .correct{
        outline: 2px solid green !important;
        outline-offset: -1px; 
    }

    .incorrect{
        outline: 2px solid red !important;
        outline-offset: -1px;
    }

    form{
        //background-color: red;
        //outline: 1px solid black;
        grid-area: form-part;
        padding: 5px;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; 

        label{
            font-weight: 500;
        }

        input{
            font-size: size(size-body);
            width: unset;
        }

        select{
            font-size: size(size-body);
        }

        h3{
            color: $black;
            font-size: size(size-h3);
            margin-bottom: 0.5rem;
        }

        hr{
            height: 3px;
            background-color: #b3b3b3;
            margin-bottom: 2rem;
        }

        .experiance-div-error{
            grid-template-rows: auto auto auto !important;

            grid-template-areas:    "p-tag p-tag p-tag "
                                    "message message message"
                                    "radio1 radio2 radio3 " !important;

            @include xmd{

                grid-template-rows: auto auto max-content max-content max-content !important;
                grid-template-areas:    "p-tag"
                                        "message"
                                        "radio1"
                                        "radio2"
                                        "radio3 " !important;

            }
        }

        #experiance-div{
            display: grid;
            grid-template-columns: auto auto auto ;
            grid-template-rows: auto auto;
            gap: 0.5rem;
            margin-bottom: 1rem;
            

            grid-template-areas:    "p-tag p-tag p-tag "
                                    "radio1 radio2 radio3 ";


            @include xmd{
                grid-template-columns: 1fr ;
                grid-template-rows: auto max-content max-content max-content;
                grid-template-areas:    "p-tag"
                                        "radio1"
                                        "radio2"
                                        "radio3 ";
                margin-bottom: 2rem;
                
                input{
                    justify-self: center;
                    margin-bottom: 0.5rem;
                }

                p{
                    text-align: center;
                }
            }

            #experiance-p{
                display: none;
                grid-area:message ;
                font-weight: 400;
            }

            p{
                grid-area: p-tag;
                font-weight: 500;
            }
            :nth-child(3){
                &::after{
                    content: "First-timer";
                }
                grid-area: radio1;
            }
            :nth-child(4){
                &::after{
                    content: "Done it before";
                }
                grid-area: radio2;
            }
            :nth-child(5){
                &::after{
                    content: "Regularly participate";
                }
                grid-area: radio3;
            }

            input{
                width: 11rem;
                height: 2rem;
                appearance: unset !important;
                background-color: rgb(255, 255, 255);
                color: white;
                position: relative;

                &::after{
                    position: absolute;
                    font-size: size(size-small);
                    font-weight: 500;
                    color: $black;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover{
                    cursor: pointer;
                    outline: 2px solid rgb(53, 53, 53);
                }

                &:checked{
                    outline: 4px solid black;
                    outline-offset: -2px;
                }


            }
        }

        .button-after{
            &::after{
                position: absolute;
                width: 100%;
                left: 0;
                top: -2rem;
                content: "Sent!";
                color: green;
                font-size: size(size-body);
                font-weight: 400;

            }
        }

        #div-button{
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 11rem auto 11rem;
            gap: 0.5rem;
            grid-template-rows: auto;
            grid-template-areas: ". button-submit .";

            @include xmd{
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-template-areas: "button-submit";

                button{
                    justify-self: center;
                }
            }

            button{
                grid-area: button-submit;
                font-size: size(size-body);
                width: 11rem;
                height: 2rem;
                font-weight: 500;
                background-color: $black;
                color: $white;

                border: none;
                outline: none;
                position: relative;



                &:hover{
                    cursor: pointer;
                    background-color: black;
                    color: white;
                }
            }

        }

        #equipment-div{
            display: grid;
            grid-template-columns: min-content min-content ;
            grid-template-rows: auto auto auto auto;
            gap: 0.5rem;
            margin-bottom: 1em;

            grid-template-areas:    "p-tag1 p-tag1 "
                                    "p-tag2 p-tag2"
                                    "option1 option2 "
                                    "option3 option4 ";

            @include xmd{
                justify-content: center;
                p{
                    text-align: center;
                }
            }

            @include xsm{
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto auto auto auto;
                gap: 0.5rem;
                margin-bottom: 1em;
    
                grid-template-areas:    "p-tag1"
                                        "p-tag2"
                                        "option1"
                                        "option2"
                                        "option3" 
                                        "option4 ";
                input{
                    justify-self: center;
                }
            }

            :nth-child(3){
                grid-area: option1;
                &::after{
                    content: var(--var1);
                }
            }

            :nth-child(4){
                grid-area: option2;
                &::after{
                    content: var(--var2);
                }
            }

            :nth-child(5){
                grid-area: option3;
                &::after{
                    content: var(--var3);
                }
            }

            :nth-child(6){
                grid-area: option4;
                &::after{
                    content: var(--var4);
                }
            }

            input{
                //justify-self: center;
                position: relative;
                appearance: unset;
                width: 11rem;
                height: 2rem;
                background-color: white;

                &::after{
                    position: absolute;
                    font-size: size(size-small);
                    font-weight: 500;
                    color: $black;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover{
                    cursor: pointer;
                    outline: 2px solid rgb(53, 53, 53);
                }

                &:checked{
                    outline: 4px solid black;
                    outline-offset: -2px;
                }
            }

            #equipment-p{
                grid-area: p-tag1;
                font-weight: 500;
            }

            #additional-text{
                grid-area: p-tag2;
                font-size: small;
                font-weight: 300;
                grid-area: p-tag2;
                color: rgb(63, 63, 63);
            }
        }

        .activity-div-error{
            grid-template-rows: auto auto auto !important;

            grid-template-areas:    "label1 label2"
                                    "message1 message2"
                                    "select1 select2" !important;


            @include xmd{
                grid-template-rows: auto auto auto auto auto auto !important;
    
                grid-template-areas:    "label1" 
                                        "message1"
                                        "select1"
                                        "label2"
                                        "message2" 
                                        "select2" !important;

                p{
                    text-align: center !important;
                }

            }
        }

        #activity-div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 0.5rem;
            margin-bottom: 1rem;

            grid-template-areas:    "label1 label2"
                                    "select1 select2";

            #activity-message{
                display: none;
                grid-area: message1;
            }

            #event-message{
                display: none;
                grid-area: message2;   
            }
            @include xmd{
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto auto;
                gap: 0.5rem;
                margin-bottom: 2rem;
    
                grid-template-areas:    "label1" 
                                        "select1"
                                        "label2" 
                                        "select2";

                label{
                    text-align: center;
                }

                select{
                    justify-self: center;
                    width: 11rem;
                }
            }

            #activity-select-label{
                grid-area: label1;
            }

            #event-select{
                grid-area: select2;
            }

            #event-select-label{
                grid-area: label2;
            }

            #activity-select{
                grid-area:select1;
            }
        }

        .phone-div-error{
            grid-template-rows: auto auto auto !important;

            grid-template-areas:    "label-country label-country ."
                                    "message message ."
                                    "select-country country-code phone-input" !important;

            @include xsm{
                grid-template-columns: max-content;
                grid-template-rows: auto auto auto auto auto auto !important;
    
                grid-template-areas:    "label-country"
                                        "message"
                                        "select-country "
                                        " country-code"
                                        "message2"
                                        "phone-input" !important;

                p{
                    text-align: center !important;
                }
                #e-m-number{
                    grid-area: message2 !important;
                }

            }
        }

        #phone-div{
            display: grid;
            grid-template-columns: auto auto 1fr;
            grid-template-rows: auto auto;
            gap: 0.5rem;
            margin-bottom: 2rem;

            grid-template-areas:    "label-country label-country ."
                                    "select-country country-code phone-input";


            #e-m-number{
                grid-area: message;
                display: none;
            }
            #e-m-country{
                grid-area: message;
                display: none;
            }
            @include xsm{
                grid-template-columns: max-content;
                grid-template-rows: auto auto auto auto;
                gap: 0.5rem;
                margin-bottom: 2rem;
    
                grid-template-areas:    "label-country"
                                        "select-country "
                                        " country-code"
                                        "phone-input";

                label{
                    text-align: center;
                }
                justify-content: center;

            }
            
            #country-label{
                grid-area: label-country;
            }

            #phone-number{
                grid-area: phone-input;
                width: 13rem;
            }

            #number-code{
                grid-area: country-code;
                width: 5rem;
            }

            #country{
                grid-area: select-country;
                width: 6rem;
            }

        }

        .mail-div-error{
            grid-template-rows: auto auto auto !important;

            grid-template-areas:    "label1 ."
                                    "message message"
                                    "input1 ." !important;

           
            @include xsm{
                grid-template-rows: auto auto auto !important;
    
                grid-template-areas:    "label1"
                                        "message"
                                        "input1" !important;

                p{
                    text-align: center !important;
                }
            }
        }

        #mail-div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 0.5rem;

            grid-template-areas:    "label1 ."
                                    "input1 .";

            #mail-p{
                display: none;
                grid-area: message;
            }

            @include xsm{
                grid-template-columns: 1fr;
                grid-template-rows: auto ;
                gap: 0.5rem;
    
                grid-template-areas:    "label1"
                                        "input1";

                label{
                    text-align: center;
                }
            }

            margin-bottom: 1em;

            label{
                grid-area: label1;
            }
            input{
                grid-area: input1;
            }
        }

        .name-div-error{
            grid-template-rows: auto auto auto !important;
            grid-template-areas:    "label1 label2"
                                    "message1 message2"
                                    "input1 input2" 
                                    !important;


            @include xmd{
                grid-template-rows: auto auto auto auto auto auto !important;
    
                grid-template-areas:    "label1"
                                        "message1" 
                                        "input1"
                                        "label2"
                                        "message2"
                                        "input2" !important;
            }

            @include xsm{
                p{
                    text-align: center !important;
                }

            }
                                    
        }

        #name-div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 0.5rem;
            margin-bottom: 1em;

            grid-template-areas:    "label1 label2"
                                    "input1 input2";


            @include xmd{
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto auto;
                gap: 0.5rem;
                margin-bottom: 2rem;
    
                grid-template-areas:    "label1" 
                                        "input1"
                                        "label2"
                                        "input2";
            }

            @include xsm{
                label{
                    text-align: center;
                }
            }

            #e-m-f-name{
                grid-area: message1;
                display: none;
            }

            #e-m-l-name{
                grid-area: message2;
                display: none;
            }

            #input-first-name{
                grid-area: input1;
            }

            #input-last-name{
                grid-area: input2;
            }
        }
    }
}

//----------- FORM END --------------------------
//-----------------------------------------------



//------------ABOUT.HTML-------------------------
//-----------------------------------------------
//-----------------------------------------------
//-----------------------------------------------

#about-body{
    min-height: 100vh;
    max-height: fit-content;

}

#about-us{

    #wide-pic{
        display: none;
    }

    h1{
        font-size: size(size-h1);
        color: $black;

        margin-bottom: 3rem;
        text-align: center;
    }

    p{
        font-size: size(size-body);
        margin-bottom: 1rem;
        color: $black;
        text-align: justify;
    }

    margin-top: 5rem;
    height: auto;
    //background-color: red;

    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: auto;
    grid-template-areas: "text1 slider" ;
    justify-content: space-between;

    @include lg{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:    "text1" 
                                "slider" ;

        gap: 2rem;
        justify-content: unset;

        #wide-pic{
            display: block;
        }

        #thin-pic{
            display: none;
        }
    }

    #about-text-coontainer{
        grid-area: text1;
    }

    #img-container-about{
        grid-area: slider;
        display: grid;
        align-items: center;

        img{
            border-radius: 4px;
            width: 100%;
        }
    }
}

#location{
    height: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    //background-color: rgb(99, 99, 151);

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:    "heading"
                            "locations";

    justify-content: center;
    gap: 3rem;

    #text-container-location{
        grid-area: heading;

        h2{
            text-align: center;
            font-size: size(size-h2);
        }

        p{
            text-align: center;
            font-size: size(size-body);
        }
    }

    .inner-container-location{
        display: grid;
        grid-template-columns: 3rem auto;
        grid-template-rows: auto auto auto;
        gap: 0.5rem;
        grid-template-areas:    "icon1 country"
                                "icon1 address"
                                "icon1 phone";

        i{
            grid-area: icon1;
            font-size: 2rem;
            text-align: center;
        }

        h4{
            grid-area: country;
        }

        :nth-child(3){
            grid-area: address;
        }

        :nth-child(4){
            grid-area: phone;
        }
    }

    #location-container{
        grid-area: locations;

        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        gap: 2rem;
        justify-content: space-between;

        @include xmd{
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            justify-content: unset;
        }
        
    }


}

#footer-about{
    margin-top: -10px;
}

//------------GALLERY.HTML-------------------------
//-------------------------------------------------
//-------------------------------------------------
//-------------------------------------------------
#gallery-body{
    min-height: 100vh;
    max-height: fit-content;


    #img-container{
        min-height: 100vh;
        max-height: fit-content;
        //background-color: rgb(87, 102, 97);

        padding-top: 2rem;

        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: space-between;
        gap: 4rem;

        @include xxl{
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto auto;
        }

        @include lg{
            grid-template-columns: auto  auto;
            grid-template-rows: auto auto auto auto auto auto;
            justify-content: space-evenly;
            gap: 1rem;
        }
        @include sm{
            grid-template-columns:auto;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
            justify-content: center;
            gap: 1rem;
        }

        img{
            width: 250px;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            position: relative;

            &:hover{
                cursor: pointer;
   
                
            }

            &:hover::after{
                position: relative;
                content: "";

                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5494572829131652);
            }
        }
    }

}

#pic-slider{
    display: none;
}

footer{
    margin-top: 5rem;
    background-color: $black;
    height: auto;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    nav{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: max-content max-content max-content;
        justify-content: space-between;


        @include xsm{
            grid-template-rows: auto auto auto;
            grid-template-columns: max-content;
            justify-content: unset;
            gap: 1rem;
            justify-content: center;

            li{
                
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        li{
            margin-bottom: 0.5rem;
        }

        a{
            font-size: size(size-body);
            color: $white;

            &:hover{
                color: white;
            }
        }
    }
}



