*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
}

:hover, :active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: "Roboto";
}

@-webkit-keyframes loader-progress {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes loader-progress {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes loader-decrease {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes loader-decrease {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes changing-position-entering {
  0% {
    right: -120%;
  }
  100% {
    right: 0;
  }
}

@keyframes changing-position-entering {
  0% {
    right: -120%;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes changing-position-leaving {
  0% {
    right: 0;
  }
  100% {
    right: -120%;
  }
}

@keyframes changing-position-leaving {
  0% {
    right: 0;
  }
  100% {
    right: -120%;
  }
}

@-webkit-keyframes changing-background-position-right-to-left {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 100px;
  }
}

@keyframes changing-background-position-right-to-left {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 100px;
  }
}

@-webkit-keyframes changing-background-position-right-to-left-img {
  0% {
    background-position-x: -8rem;
  }
  100% {
    background-position-x: -1rem;
  }
}

@keyframes changing-background-position-right-to-left-img {
  0% {
    background-position-x: -8rem;
  }
  100% {
    background-position-x: -1rem;
  }
}

@-webkit-keyframes changing-background-position-left-to-right {
  0% {
    background-position-x: 100px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes changing-background-position-left-to-right {
  0% {
    background-position-x: 100px;
  }
  100% {
    background-position-x: 0px;
  }
}

@-webkit-keyframes changing-background-position-left-to-right-img {
  0% {
    background-position-x: -1rem;
  }
  100% {
    background-position-x: -8rem;
  }
}

@keyframes changing-background-position-left-to-right-img {
  0% {
    background-position-x: -1rem;
  }
  100% {
    background-position-x: -8rem;
  }
}

@-webkit-keyframes changing-background-position-left-to-right-img-xl {
  0% {
    background-position-x: -5rem;
  }
  100% {
    background-position-x: -13rem;
  }
}

@keyframes changing-background-position-left-to-right-img-xl {
  0% {
    background-position-x: -5rem;
  }
  100% {
    background-position-x: -13rem;
  }
}

@-webkit-keyframes changing-background-position-right-to-left-img-xl {
  0% {
    background-position-x: -13rem;
  }
  100% {
    background-position-x: -5rem;
  }
}

@keyframes changing-background-position-right-to-left-img-xl {
  0% {
    background-position-x: -13rem;
  }
  100% {
    background-position-x: -5rem;
  }
}

@-webkit-keyframes changing-background-position-left-to-right-pattern-mobile {
  0% {
    background-position-x: 0vw;
  }
  100% {
    background-position-x: -130vw;
  }
}

@keyframes changing-background-position-left-to-right-pattern-mobile {
  0% {
    background-position-x: 0vw;
  }
  100% {
    background-position-x: -130vw;
  }
}

@-webkit-keyframes changing-background-position-right-to-left-pattern-mobile {
  0% {
    background-position-x: -130vw;
  }
  100% {
    background-position-x: -0vw;
  }
}

@keyframes changing-background-position-right-to-left-pattern-mobile {
  0% {
    background-position-x: -130vw;
  }
  100% {
    background-position-x: -0vw;
  }
}

h1 {
  text-decoration: none;
  color: #d5d6d7;
  font-weight: 900;
  font-size: 5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  height: 1500px;
  background-color: #E7E7E7;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .wrapper {
    width: 1100px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.pre-loader {
  overflow-y: hidden;
}

#loader {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #E7E7E7;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loader #loader-svg {
  width: 22rem;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 576px) {
  #loader #loader-svg {
    width: 17rem;
  }
}

#loader #loader-svg img {
  margin-bottom: 20px;
  width: 17rem;
}

@media (max-width: 576px) {
  #loader #loader-svg img {
    width: 12rem;
  }
}

#loader #loader-svg #loader-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 100%;
  background-color: #242424;
  border-radius: 3px;
  -webkit-animation: loader-progress 1.5s;
          animation: loader-progress 1.5s;
}

.loader-opac {
  -webkit-animation: opac 2s ease;
          animation: opac 2s ease;
}

header {
  background-color: #242424;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 2.2rem;
  z-index: 15;
}

header nav {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . nav-ul";
}

header nav #nav-logo {
  height: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -webkit-column-gap: 0;
          column-gap: 0;
  -webkit-transition: -webkit-column-gap 0.2s;
  transition: -webkit-column-gap 0.2s;
  transition: column-gap 0.2s;
  transition: column-gap 0.2s, -webkit-column-gap 0.2s;
}

header nav #nav-logo:hover {
  -webkit-column-gap: 6px;
          column-gap: 6px;
  /*  p{
                    padding-right: 0.4rem;
                }*/
}

header nav #nav-logo p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #E7E7E7;
  font-size: 1.75rem;
  font-weight: 700;
}

header nav #nav-logo img {
  height: 100%;
}

header nav button {
  display: none !important;
  color: #E7E7E7;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav-ul;
  background-color: transparent;
  border: none;
}

header nav button i {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  header nav button {
    display: inline-block !important;
  }
}

header nav ul {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav-ul;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}

@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
}

header nav ul div {
  display: none;
  position: absolute;
  z-index: 2;
}

header nav ul li {
  position: relative;
  display: -ms-grid;
  display: grid;
}

header nav ul a {
  padding: 4px 5px;
  position: relative;
  z-index: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #E7E7E7;
  font-size: 1.25rem;
}

header nav ul a:hover {
  color: white;
}

header nav ul a:focus {
  color: white;
}

.nav-entering {
  right: 0;
  -webkit-animation: changing-position-entering 0.5s;
          animation: changing-position-entering 0.5s;
}

.nav-leaving {
  right: -120%;
  -webkit-animation: changing-position-leaving 0.5s;
          animation: changing-position-leaving 0.5s;
}

.phone-nav {
  display: none;
  position: fixed;
  z-index: 16;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #242424;
}

.phone-nav button {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: transparent;
  border: none;
}

.phone-nav button i {
  color: #E7E7E7;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .display-phone-nav {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

#phone-nav-js li {
  margin-bottom: 0.7rem;
}

#phone-nav-js a {
  display: block;
  color: #E7E7E7;
  font-size: 1.75rem;
  padding: 0.2rem 0.4rem;
  text-align: center;
}

#phone-nav-js div {
  display: none;
}

.progress-left-to-right {
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-animation: loader-progress 0.5s;
          animation: loader-progress 0.5s;
  height: 4px;
  background-color: white;
}

.progress-right-to-left {
  display: block;
  right: 0;
  bottom: 0;
  width: 0;
  -webkit-animation: loader-decrease 0.5s;
          animation: loader-decrease 0.5s;
  height: 4px;
  background-color: white;
}

.active-link {
  display: block;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: white;
}

#hero {
  height: 40rem;
  overflow: hidden;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr;
      grid-template-columns: 0.6fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  #hero {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-grid-columns: 0.4fr;
        grid-template-columns: 0.4fr;
  }
}

@media (max-width: 576px) {
  #hero {
    height: 60rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#hero::before {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  content: "";
  background: url(../images/hero/compass.svg);
  background-position: 100px -100px;
  background-size: 50%;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

@media (max-width: 576px) {
  #hero::before {
    background: none;
  }
}

#hero .pic-container {
  position: absolute;
  width: 50%;
  padding-bottom: 33%;
  z-index: 10;
}

@media (max-width: 768px) {
  #hero .pic-container {
    width: 10rem;
    height: 30rem;
    padding-bottom: 0;
    border-radius: 3px;
  }
}

@media (max-width: 576px) {
  #hero .pic-container {
    width: 13.5rem;
  }
}

@media (max-width: 420px) {
  #hero .pic-container {
    width: 10rem;
  }
}

#hero #pic-container-1 {
  bottom: 0;
  left: 0;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: url(../images/hero/hiking1.jpg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  #hero #pic-container-1 {
    -webkit-clip-path: none;
            clip-path: none;
    left: auto;
    right: 11rem;
    bottom: 2rem;
    background: url(../images/hero/hiking-mobile.jpg);
  }
}

@media (max-width: 576px) {
  #hero #pic-container-1 {
    left: 0;
    bottom: 0;
    right: auto;
    background: url(../images/hero/hiking-mobile2.jpg);
  }
}

@media (max-width: 420px) {
  #hero #pic-container-1 {
    background: url(../images/hero/hiking-mobile.jpg);
  }
}

#hero #pic-container-2 {
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: url(../images/hero/kayaking.jpg) top center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  #hero #pic-container-2 {
    -webkit-clip-path: none;
            clip-path: none;
    top: 2rem;
    background: url(../images/hero/kayaking-mobile.jpg);
  }
}

@media (max-width: 576px) {
  #hero #pic-container-2 {
    top: 0;
    background: url(../images/hero/kayaking-mobile2.jpg);
  }
}

@media (max-width: 420px) {
  #hero #pic-container-2 {
    background: url(../images/hero/kayaking-mobile.jpg);
  }
}

#hero #hero-middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

#hero #hero-middle #pic-circle-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

#hero #hero-middle #pic-circle-container #img-circle {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 576px) {
  #hero #hero-middle #pic-circle-container #img-circle::before {
    position: absolute;
    top: -16px;
    bottom: -16px;
    left: -16px;
    right: -16px;
    content: "";
    background-color: #E7E7E7;
    z-index: 12;
    border-radius: 50%;
  }
}

#hero #hero-middle #pic-circle-container #img-circle img {
  position: relative;
  z-index: 13;
  height: 200px;
  border-radius: 50%;
  outline: 3px solid black;
}

#hero #hero-middle #quote-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr;
      grid-template-columns: 0.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 768px) {
  #hero #hero-middle #quote-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  #hero #hero-middle #quote-container {
    -ms-grid-columns: 0.5fr;
        grid-template-columns: 0.5fr;
  }
}

#hero #hero-middle #quote-container #quote {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero #hero-middle #quote-container #quote i {
  font-size: 1.25rem;
  text-align: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#hero #hero-middle #quote-container #quote #author-name {
  text-align: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 1.75rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  #hero #hero-middle #quote-container #quote #author-name {
    text-align: center;
  }
}

#hero #hero-middle #quote-container #quote p {
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
}

#hero #hero-middle #logo-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr;
      grid-template-columns: 0.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (max-width: 768px) {
  #hero #hero-middle #logo-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  #hero #hero-middle #logo-container {
    -ms-grid-columns: 0.5fr;
        grid-template-columns: 0.5fr;
  }
}

#hero #hero-middle #logo-container #logo-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr;
      grid-template-columns: 0.5fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  #hero #hero-middle #logo-container #logo-part {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#hero #hero-middle #logo-container #logo-part p {
  font-size: 2.5rem;
  font-weight: 800;
}

@media (max-width: 768px) {
  #hero #hero-middle #logo-container #logo-part p {
    text-align: center;
  }
}

#hero #hero-middle #logo-container #logo-part #uppper {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#hero #hero-middle #logo-container #logo-part #lower {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (max-width: 768px) {
  #hero #hero-middle #logo-container #logo-part #lower {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

#hero #hero-middle #logo-container #logo-part img {
  height: 76px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.anim-changing-background-position-right-to-left {
  -webkit-animation: changing-background-position-right-to-left 0.5s linear;
          animation: changing-background-position-right-to-left 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-changing-background-position-right-to-left-img {
  -webkit-animation: changing-background-position-right-to-left-img 0.5s linear;
          animation: changing-background-position-right-to-left-img 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-changing-background-position-left-to-right {
  -webkit-animation: changing-background-position-left-to-right 0.5s linear;
          animation: changing-background-position-left-to-right 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-changing-background-position-left-to-right-img {
  -webkit-animation: changing-background-position-left-to-right-img 0.5s linear;
          animation: changing-background-position-left-to-right-img 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-changing-background-position-right-to-left-img-xl {
  -webkit-animation: changing-background-position-right-to-left-img-xl 0.5s linear;
          animation: changing-background-position-right-to-left-img-xl 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-changing-background-position-left-to-right-img-xl {
  -webkit-animation: changing-background-position-left-to-right-img-xl 0.5s linear;
          animation: changing-background-position-left-to-right-img-xl 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-changing-background-position-right-to-left-pattern-mobile {
  -webkit-animation: changing-background-position-right-to-left-pattern-mobile 0.6s linear;
          animation: changing-background-position-right-to-left-pattern-mobile 0.6s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-changing-background-position-left-to-right-pattern-mobile {
  -webkit-animation: changing-background-position-left-to-right-pattern-mobile 0.6s linear;
          animation: changing-background-position-left-to-right-pattern-mobile 0.6s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#about {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
  overflow: hidden;
}

@media (max-width: 1200px) {
  #about {
    padding-left: 0;
    padding-right: 0;
  }
}

#about #about-container {
  width: 100%;
  height: 30rem;
  background-color: #d7d7d7;
  position: relative;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
          clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: auto 0.3fr 0.15fr 0.3fr auto;
      grid-template-columns: auto 0.3fr 0.15fr 0.3fr auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: " . motivation . about .";
}

@media (max-width: 1200px) {
  #about #about-container {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

@media (max-width: 992px) {
  #about #about-container {
    -ms-grid-columns: 10px 20rem 20rem 10px;
        grid-template-columns: 10px 20rem 20rem 10px;
        grid-template-areas: ".  motivation  about .";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  #about #about-container {
    width: 200vw;
    -ms-grid-columns: 100vw 100vw;
        grid-template-columns: 100vw 100vw;
        grid-template-areas: "  motivation  about ";
  }
}

#about #about-container #backgrount-pattern {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url(../images/hero/mountain-pattern.png);
  background-position-y: bottom;
  background-repeat: repeat-x;
  background-size: 70%;
  opacity: 0.5;
}

@media (max-width: 768px) {
  #about #about-container #backgrount-pattern {
    background-position-x: 0vw;
  }
}

#about #about-container #text-container-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: motivation;
  position: relative;
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2rem auto 2rem auto 1fr;
      grid-template-rows: 2rem auto 2rem auto 1fr;
  color: #242424;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "." "mot-text"  "."  "about-next" ".";
}

#about #about-container #text-container-1 #text-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mot-text;
  text-align: center;
  font-size: 1.75rem;
}

#about #about-container #text-container-1 #text-1 .mot-large {
  font-weight: 800;
  font-size: 5rem;
}

#about #about-container #text-container-1 button {
  position: relative;
  background-color: #242424;
  color: #E7E7E7;
  z-index: 4;
  font-size: 1.75rem;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: about-next;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 3px;
}

#about #about-container #text-container-1 button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#about #about-container #text-container-1 button i {
  margin-left: 1rem;
}

#about #about-container #text-container-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: about;
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 3;
  -ms-grid-rows: 2rem auto 2rem auto 1fr;
      grid-template-rows: 2rem auto 2rem auto 1fr;
  color: #242424;
  font-size: 1.25rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "." "about-text"  "."  "about-link" ".";
}

@media (max-width: 768px) {
  #about #about-container #text-container-2 {
    padding: 0 100px;
  }
}

#about #about-container #text-container-2 #text-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about-text;
}

#about #about-container #text-container-2 #text-2 h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#about #about-container #text-container-2 #text-2 p {
  text-align: justify;
  margin-bottom: 0.6rem;
}

#about #about-container #text-container-2 #btn-group {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: about-link;
  position: relative;
  z-index: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-size: 1.75rem;
      grid-template-areas: "btn . link";
}

#about #about-container #text-container-2 #btn-group button {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: btn;
  font-size: 1.75rem;
  color: #E7E7E7;
  background-color: #242424;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  border: none;
  font-weight: 600;
}

#about #about-container #text-container-2 #btn-group button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#about #about-container #text-container-2 #btn-group button i {
  margin-right: 1rem;
}

#about #about-container #text-container-2 #btn-group a {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: link;
  background-color: #242424;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  border: none;
  color: #E7E7E7;
  font-weight: 600;
}

#about #about-container #text-container-2 #btn-group a i {
  margin-left: 1rem;
}

#about #about-container #text-container-2 #btn-group a:hover {
  background-color: black;
  color: white;
}

#about #mbiking-img-container {
  z-index: 5;
  position: absolute;
  height: 36rem;
  width: 40rem;
  top: 7rem;
  right: 2rem;
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
          clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  background: url(../images/hero/biker.png);
  background-size: cover;
  background-position: -8rem;
}

@media (max-width: 1400px) {
  #about #mbiking-img-container {
    right: 1rem;
    top: 8rem;
    height: 34rem;
    -webkit-clip-path: polygon(0 0, 81% 0, 100% 100%, 19% 100%);
            clip-path: polygon(0 0, 81% 0, 100% 100%, 19% 100%);
  }
}

@media (max-width: 1200px) {
  #about #mbiking-img-container {
    -webkit-clip-path: none;
            clip-path: none;
    right: 10px;
    height: 34rem;
    width: 30rem;
    background-position: -13rem;
  }
}

@media (max-width: 940px) {
  #about #mbiking-img-container {
    width: 22rem;
  }
}

@media (max-width: 768px) {
  #about #mbiking-img-container {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */